.container {
    display: flex;
    width: 917px;
    height: 768px;
    background: #F8FAFC;
    border-radius: 16px;
    align-self: stretch;
    justify-content: space-between;
}

.favorite {
    /* position: absolute; */
    width: 102px;
    height: 32px;
    left: 16px;
    top: 16px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #0F172A;
}

.exit {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    color: hsla(221, 91%, 60%, 1);
    border: 1px solid #3B76F6;
    border-radius: 4px;

}